p{
	font-family: 'Merriweather', serif;
}


body{
    padding-top:0;
    background-color: #f0f4f5;
}
#navbar a{
    text-decoration: none;
    color: #f0f4f5;
}

#navbar{
    width: 100vw;
    max-width: 100%;
    height: 20vh;
    background-color: #173558;
    position: fixed;
    border-bottom: 1.5vh solid rgb(97, 99, 102);
    border-top: 1.5vh solid rgb(97, 99, 102);
    box-sizing: border-box;
    line-height: 17vh;
    font-size: 3.5vh;
    font-family: "droid serif";
    z-index: 17;
}

#logowrapper{
    display: flex;
    justify-content: center;
    position: fixed;
    height: 0px;
    width: 100%;
    z-index: 18;
}

#navlogo{
    position: relative;
    height: 16vh;
    top: 2vh;
}

#navlogo:hover{
    background-color: rgba(0,0,0, 0.2);
}

.navlinks{
    position: absolute;
}

.navleft{
    left: 4vh;
}

.navright{
    right: 4vh;
}

.navleft .toplinks{
    margin-left: 3vw;
}

.navright .toplinks{
    margin-right: 3vw;
}

.toplinks:hover{
    background-color: rgba(0,0,0, 0.2);
    text-decoration: underline !important;
}


#navpadding{
    height: 20vh;
}

#footer{
    width: 100vw;
    max-width: 100%;
    height: 15vh;
    background-color: #173558;
    color: #f0f4f5;
    font-family: "droid serif";
    z-index: 16;
}

#footercontact{
    text-align: center;
    vertical-align: middle;
    line-height: 15vh;   
}

#footercontact a{
    text-decoration: none;
    color: white;
    margin-left: 10vw;
}

#footercontact img{
    vertical-align: middle;
}

#navIcon{
    visibility: hidden;
    position: absolute;
}

#mobilenav{
    display: none;
    position: absolute;
    right: 0;
    top: 18.25vh;
    width: 100vw;
    max-width: 100%;
    background-color: #173558;
}

.mobilenavlinks{
    width: 90vw;
    position: relative;
    left: 5vw;
}

.mobilenavlinks a{
    display: block;
    width: 100%;
    text-align: right;
    border-top: 2px solid rgb(97, 99, 102);
    padding-right: 5vw;
}

.mobilenavlinks a:first-of-type{
    border: none;
}

.mobilenavlinks a:hover{
    background-color: rgba(0,0,0, 0.2);
}

@media all and (max-width: 1100px){
    #logowrapper{
        justify-content: flex-start;
    }
    
    #navlogo{
        margin-left: 4vw;
    }
    
    .navlinks{
        visibility: hidden;
    }

    #navIcon{
        visibility: visible;
        display: inline-block;
        position: absolute;
        right: 2vh;
        height: 8vh;
        margin-top: 4.75vh;
        cursor: pointer;
    }
}
    #map-outer {
	    height: 440px;
		padding: 20px;
		border: 2px solid #CCC;
		margin-bottom: 20px;
		background: #FFF;
		}
			
		
		@media all and (max-width: 991px) {
			#map-outer {
				height: 650px;
			}
		}
			
    #map-container {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    #map-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
    

